GEMINI_API_KEY="AIzaSyCYJLY_nZR1xgAarFqeUeilqTIwlXdOHYs"
APP_URL="http://localhost:3000"
JWT_SECRET="727acb45e043312de2d91c4001bc889dc5f23db378736b8f4b9c3b2a53145ae6"
DATABASE_URL="postgresql://postgres:231211@AnshPratap@db.dgmtrluonzuhirxjxkme.supabase.co:5432/postgres"